<a href="https://colab.research.google.com/github/PranahithBabu/python-for-ai/blob/main/01_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Beginning AI jounrney with Python")

Beginning AI jounrney with Python

### Comments
 - Single line comments with #
 - Multi line comments start & end with """

In [5]:
# Single line comment

""" This
  is
  a
  multi line
  comment
  """

### Variables and Data Types
- **Variables**: Named storage locations for data. Declared in small case with underscore in between.
- **Assignment**: Using the `=` operator to assign values to variables.
- **Data Types**:
  - **Integers (`int`)**: Whole numbers (e.g., `5`, `-10`).
  - **Floating-point numbers (`float`)**: Numbers with decimal points (e.g., `3.14`, `-0.5`).
  - **Strings (`str`)**: Sequences of characters enclosed in quotes (e.g., `"hello"`, `'world'`).
  - **Booleans (`bool`)**: Represent truth values (`True` or `False`).
  - **Lists (`list`)**: Ordered, mutable collections of items enclosed in square brackets (e.g., `[1, 2, 3]`, `['a', 'b']`).
  - **Tuples (`tuple`)**: Ordered, immutable collections of items enclosed in parentheses (e.g., `(1, 2)`, `('x', 'y')`).
  - **Dictionaries (`dict`)**: Unordered collections of key-value pairs enclosed in curly braces (e.g., `{'name': 'Alice', 'age': 30}`).
- **Constants**: Fixed values are declared in capital case letter with underscore in between and has global level access, which is across the classes and function in the program.

### Practice Questions: Variables and Data Types

In [6]:
# 1. Create a variable called 'my_integer' and assign it the value 10.
# 2. Create a variable called 'my_float' and assign it the value 3.14.
# 3. Create a variable called 'my_string' and assign it the value "Hello, Python!".
# 4. Create a variable called 'my_boolean' and assign it the value True.
# 5. Create a list called 'my_list' with the numbers 1, 2, and 3.
# 6. Create a tuple called 'my_tuple' with the strings "apple" and "banana".
# 7. Create a dictionary called 'my_dictionary' with keys 'name' and 'age' and values 'Alice' and 30 respectively.
# 8. Print the type of each of the variables you created.

# Write your code below this line:
my_integer =  10
my_float = 3.14
my_string = "Hello, Python!"
my_boolean = True
my_list = [1,2,3]
my_tuple = ("apple", "banana")
my_dict = {"name": "John", "age": 20}
type(my_tuple)

tuple

### Operators

- **Arithmetic Operators**: Perform mathematical operations.
  - `+` (Addition)
  - `-` (Subtraction)
  - `*` (Multiplication)
  - `/` (Division)
  - `//` (Floor Division - returns the integer part of the quotient)
  - `%` (Modulo - returns the remainder of the division)
  - `**` (Exponentiation)
- **Comparison Operators**: Compare values and return `True` or `False`.
  - `==` (Equal to)
  - `!=` (Not equal to)
  - `>` (Greater than)
  - `<` (Less than)
  - `>=` (Greater than or equal to)
  - `<=` (Less than or equal to)
- **Logical Operators**: Combine boolean expressions.
  - `and`: Returns `True` if both operands are `True`.
  - `or`: Returns `True` if at least one operand is `True`.
  - `not`: Reverses the boolean value of the operand.
- **Bitwise Operators**: Operate on individual bits of integers.
  - `&` (Bitwise AND): Sets each bit to 1 if both bits are 1.
  - `|` (Bitwise OR): Sets each bit to 1 if either bit is 1.
  - `^` (Bitwise XOR): Sets each bit to 1 if only one of the two bits is 1.
  - `~` (Bitwise NOT): Inverts all the bits.
  - `<<` (Left Shift): Shifts the bits to the left by a specified number of positions.
  - `>>` (Right Shift): Shifts the bits to the right by a specified number of positions.

### Practice Questions: Operators

In [46]:
# 1. Calculate the sum of 25 and 15 using the addition operator and print the result.
# 2. Calculate the difference between 50 and 20 using the subtraction operator and print the result.
# 3. Calculate the product of 7 and 8 using the multiplication operator and print the result.
# 4. Calculate the division of 100 by 4 using the division operator and print the result.
# 5. Calculate the floor division of 100 by 3 and print the result.
# 6. Calculate the remainder of 100 divided by 3 using the modulo operator and print the result.
# 7. Calculate 2 to the power of 5 using the exponentiation operator and print the result.
# 8. Check if 10 is equal to 10 using the equality operator and print the result.
# 9. Check if 10 is not equal to 5 using the inequality operator and print the result.
# 10. Check if 20 is greater than 15 and 10 is less than 12 using the logical 'and' operator and print the result.
# 11. Check if 5 is greater than 10 or 15 is less than 20 using the logical 'or' operator and print the result.
# 12. Negate the boolean value True using the logical 'not' operator and print the result.

# Write your code below this line:
print(25+15)
print(50-20)
print(7*8)
print(100/4)
print(100//3)
print(100 % 3)
print(2**5)
print(10==10)
print(10!=5)
print(20>15 and 10<12)
print(5>10 or 15<20)
print(not True)

print(5*4/2)

40
30
56
25.0
33
1
32
True
True
True
True
False
10.0

### Type Conversion

- **Implicit Type Conversion (Coercion)**: Python automatically converts one data type to another in some situations (e.g., adding an integer to a float results in a float).

- **Explicit Type Conversion (Casting)**: You explicitly convert data from one type to another using built-in functions.
  - `int()`: Converts to an integer.
  - `float()`: Converts to a float.
  - `str()`: Converts to a string.
  - `list()`: Converts to a list.
  - `tuple()`: Converts to a tuple.
  - `dict()`: Converts to a dictionary (from a sequence of key-value pairs).

### Practice Questions: Type Conversion

In [38]:
# 1. Convert the integer 10 to a float and print the result.
# 2. Convert the float 3.14 to an integer and print the result.
# 3. Convert the integer 25 to a string and print the result.
# 4. Convert the string "123" to an integer and print the result.
# 5. Convert the string "3.14" to a float and print the result.
# 6. Convert the list [1, 2, 3] to a tuple and print the result.
# 7. Convert the tuple (1, 2, 3) to a list and print the result.
# 8. Convert the string "hello" to a list of characters and print the result.

# Write your code below this line:
a = 10
print(a)
b = float(a)
print(b)
print(type(a))
print(type(b))

c = str(a)
print(c)
print(type(c))
li = [1,2,3]
print(type(li))
tu = tuple(li)
print(type(tu))

x = "hello"
x_li = list(x)
print(x_li)

10
10.0
<class 'int'>
<class 'float'>
10
<class 'str'>
<class 'list'>
<class 'tuple'>
['h', 'e', 'l', 'l', 'o']

In [64]:
# Library import
# There are library functions in python which are handy to do simple/complex operations on data.
# Alias is useful for shortening the library name for multiple use.
import math as m
print(m.pow(2,3))

8.0

In [63]:
# Specific function from a library can be imported as below
from math import pow
print(pow(2,4))

16.0

# User Input

In [50]:
# By default input is considered as string type
a = input("Enter 1st number: ")
b = input("Enter 2nd number: ")
print(a+b)

Enter 1st number: 5
Enter 2nd number: 6
56

In [51]:
# Casting input to required type
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
print(a+b)

Enter 1st number: 5
Enter 2nd number: 6
11

In [57]:
# Adding requirement check on user input to avoid irregular data

# To take a character only
ch = input("Enter character: ")[0]
print(ch)
print("Received: "+ch)

Enter character: xyz
x
Received: x

In [58]:
# Evaluating expression at input level
res = eval(input("Evaluate expression: "))
print(res)

Evaluate expression: 2+3*8
26

In [67]:
# File level execution with user input

# import sys as s
# x = int(s.argv[1])
# y = int(s.argv[2])
# print(x+y)

# Mini Project 1 - Simple CLI Calculator