<a href="https://colab.research.google.com/github/PranahithBabu/python-for-ai/blob/main/01_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Beginning AI jounrney with Python")

Beginning AI jounrney with Python

### Comments
 - Single line comments with #
 - Multi line comments start & end with """

In [ ]:
# Single line comment

""" This
  is
  a
  multi line
  comment
  """

### Variables and Data Types
- **Variables**: Named storage locations for data. Declared in small case with underscore in between.
- **Assignment**: Using the `=` operator to assign values to variables.
- **Data Types**:
  - **Integers (`int`)**: Whole numbers (e.g., `5`, `-10`).
  - **Floating-point numbers (`float`)**: Numbers with decimal points (e.g., `3.14`, `-0.5`).
  - **Strings (`str`)**: Sequences of characters enclosed in quotes (e.g., `"hello"`, `'world'`).
  - **Booleans (`bool`)**: Represent truth values (`True` or `False`).
  - **Lists (`list`)**: Ordered, mutable collections of items enclosed in square brackets (e.g., `[1, 2, 3]`, `['a', 'b']`).
  - **Tuples (`tuple`)**: Ordered, immutable collections of items enclosed in parentheses (e.g., `(1, 2)`, `('x', 'y')`).
  - **Dictionaries (`dict`)**: Unordered collections of key-value pairs enclosed in curly braces (e.g., `{'name': 'Alice', 'age': 30}`).
- **Constants**: Fixed values are declared in capital case letter with underscore in between and has global level access, which is across the classes and function in the program.

### Practice Questions: Variables and Data Types

In [ ]:
# 1. Create a variable called 'my_integer' and assign it the value 10.
# 2. Create a variable called 'my_float' and assign it the value 3.14.
# 3. Create a variable called 'my_string' and assign it the value "Hello, Python!".
# 4. Create a variable called 'my_boolean' and assign it the value True.
# 5. Create a list called 'my_list' with the numbers 1, 2, and 3.
# 6. Create a tuple called 'my_tuple' with the strings "apple" and "banana".
# 7. Create a dictionary called 'my_dictionary' with keys 'name' and 'age' and values 'Alice' and 30 respectively.
# 8. Print the type of each of the variables you created.

# Write your code below this line:
my_integer =  10
my_float = 3.14
my_string = "Hello, Python!"
my_boolean = True
my_list = [1,2,3]
my_tuple = ("apple", "banana")
my_dict = {"name": "John", "age": 20}
type(my_tuple)

tuple

### Operators

- **Arithmetic Operators**: Perform mathematical operations.
  - `+` (Addition)
  - `-` (Subtraction)
  - `*` (Multiplication)
  - `/` (Division)
  - `//` (Floor Division - returns the integer part of the quotient)
  - `%` (Modulo - returns the remainder of the division)
  - `**` (Exponentiation)
- **Comparison Operators**: Compare values and return `True` or `False`.
  - `==` (Equal to)
  - `!=` (Not equal to)
  - `>` (Greater than)
  - `<` (Less than)
  - `>=` (Greater than or equal to)
  - `<=` (Less than or equal to)
- **Logical Operators**: Combine boolean expressions.
  - `and`: Returns `True` if both operands are `True`.
  - `or`: Returns `True` if at least one operand is `True`.
  - `not`: Reverses the boolean value of the operand.
- **Bitwise Operators**: Operate on individual bits of integers.
  - `&` (Bitwise AND): Sets each bit to 1 if both bits are 1.
  - `|` (Bitwise OR): Sets each bit to 1 if either bit is 1.
  - `^` (Bitwise XOR): Sets each bit to 1 if only one of the two bits is 1.
  - `~` (Bitwise NOT): Inverts all the bits.
  - `<<` (Left Shift): Shifts the bits to the left by a specified number of positions.
  - `>>` (Right Shift): Shifts the bits to the right by a specified number of positions.

### Practice Questions: Operators

In [ ]:
# 1. Calculate the sum of 25 and 15 using the addition operator and print the result.
# 2. Calculate the difference between 50 and 20 using the subtraction operator and print the result.
# 3. Calculate the product of 7 and 8 using the multiplication operator and print the result.
# 4. Calculate the division of 100 by 4 using the division operator and print the result.
# 5. Calculate the floor division of 100 by 3 and print the result.
# 6. Calculate the remainder of 100 divided by 3 using the modulo operator and print the result.
# 7. Calculate 2 to the power of 5 using the exponentiation operator and print the result.
# 8. Check if 10 is equal to 10 using the equality operator and print the result.
# 9. Check if 10 is not equal to 5 using the inequality operator and print the result.
# 10. Check if 20 is greater than 15 and 10 is less than 12 using the logical 'and' operator and print the result.
# 11. Check if 5 is greater than 10 or 15 is less than 20 using the logical 'or' operator and print the result.
# 12. Negate the boolean value True using the logical 'not' operator and print the result.

# Write your code below this line:
print(25+15)
print(50-20)
print(7*8)
print(100/4)
print(100//3)
print(100 % 3)
print(2**5)
print(10==10)
print(10!=5)
print(20>15 and 10<12)
print(5>10 or 15<20)
print(not True)

print(5*4/2)

40
30
56
25.0
33
1
32
True
True
True
True
False
10.0

### Type Conversion

- **Implicit Type Conversion (Coercion)**: Python automatically converts one data type to another in some situations (e.g., adding an integer to a float results in a float).

- **Explicit Type Conversion (Casting)**: You explicitly convert data from one type to another using built-in functions.
  - `int()`: Converts to an integer.
  - `float()`: Converts to a float.
  - `str()`: Converts to a string.
  - `list()`: Converts to a list.
  - `tuple()`: Converts to a tuple.
  - `dict()`: Converts to a dictionary (from a sequence of key-value pairs).

### Practice Questions: Type Conversion

In [ ]:
# 1. Convert the integer 10 to a float and print the result.
# 2. Convert the float 3.14 to an integer and print the result.
# 3. Convert the integer 25 to a string and print the result.
# 4. Convert the string "123" to an integer and print the result.
# 5. Convert the string "3.14" to a float and print the result.
# 6. Convert the list [1, 2, 3] to a tuple and print the result.
# 7. Convert the tuple (1, 2, 3) to a list and print the result.
# 8. Convert the string "hello" to a list of characters and print the result.

# Write your code below this line:
a = 10
print(a)
b = float(a)
print(b)
print(type(a))
print(type(b))

c = str(a)
print(c)
print(type(c))
li = [1,2,3]
print(type(li))
tu = tuple(li)
print(type(tu))

x = "hello"
x_li = list(x)
print(x_li)

10
10.0
<class 'int'>
<class 'float'>
10
<class 'str'>
<class 'list'>
<class 'tuple'>
['h', 'e', 'l', 'l', 'o']

In [ ]:
# Library import
# There are library functions in python which are handy to do simple/complex operations on data.
# Alias is useful for shortening the library name for multiple use.
import math as m
print(m.pow(2,3))

8.0

In [ ]:
# Specific function from a library can be imported as below
from math import pow
print(pow(2,4))

16.0

# User Input

In [ ]:
# By default input is considered as string type
a = input("Enter 1st number: ")
b = input("Enter 2nd number: ")
print(a+b)

Enter 1st number: 5
Enter 2nd number: 6
56

In [ ]:
# Casting input to required type
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
print(a+b)

Enter 1st number: 5
Enter 2nd number: 6
11

In [ ]:
# Adding requirement check on user input to avoid irregular data

# To take a character only
ch = input("Enter character: ")[0]
print(ch)
print("Received: "+ch)

Enter character: xyz
x
Received: x

In [ ]:
# Evaluating expression at input level
res = eval(input("Evaluate expression: "))
print(res)

Evaluate expression: 2+3*8
26

In [ ]:
# File level execution with user input

# import sys as s
# x = int(s.argv[1])
# y = int(s.argv[2])
# print(x+y)

# Conditionals

In [ ]:
x = 1
if x==10:
  print("Equal")
elif x>10:
  print("Greater")
else:
  print("Lesser")

Lesser

# Loop

## While loop

In [ ]:
a = 1
while a<3:
  print("In loop")
  a+=1

In loop
In loop

In [ ]:
# Program to print all values from 1 to 50. Skip the numbers which are divisible by 3 or 5
x = 1
while(x<=20):
  if(x%3!=0 and x%5!=0):
    print(x)
  x+=1

1
2
4
7
8
11
13
14
16
17
19

In [ ]:
# Print pattern with * 5x5 matrix using while loop
i=1
while i<=5:
  j=1
  while j<=5:
    print("*",end=" ")
    j+=1
  print()
  i+=1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

## For loop

In [1]:
i=3
for i in range(1,5):
  print(i)

1
2
3
4

In [2]:
# Print pattern with * 5x5 matrix using for loop

for _ in range(5):
  for _ in range(5):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [17]:
# Print all perfect square numbers between 1 & 100
import math as m

for i in range(1, int(m.sqrt(100))+1):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [29]:
# Print first 10 fibonacci numbers

i=0
j=1
n=10
fibs = []
if(n>=1):
  fibs.append(i)
if(n>=2):
  fibs.append(j)

for _ in range(n-2):
  next_fib = i+j
  fibs.append(next_fib)
  i = j
  j = next_fib

print(fibs)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [51]:
# Print below pattern
# *
# * *
# * * *
# * * * *
# * * * * *
n=5
for i in range(n):
  for _ in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [56]:
# Print below pattern
# * * * * *
# * * * *
# * * *
# * *
# *
n=5
for i in range(n):
  for _ in range(n-i):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [59]:
n=5
for i in range(1,n):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [75]:
n=5
for i in range(1, n):
  for j in range(i, n):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4
4

# For Else

- Else statement can be given after for loop completion.
- In this case, if the for loop has not been breaken out, then this else block will execute. Else, the else block will not execute.
- **break** statement is must to leverage this functionality.

In [83]:
# Print numbers divisible by 5 in the given list
nums = [12, 16, 17, 18, 20]
for num in nums:
  if num%5 == 0:
    print("Divisible found")
    break
else:
  print("No divisible found")

Divisible found

In [89]:
# Check a given number is prime or not

x = int(input("Enter a number: "))

if x>1:
  for i in range(2, x//2 + 1):
    if x%i==0:
      print(x,"is not a prime number")
      break
  else:
    print(x,"is a prime number")
else:
  print("Invalid number. Enter number greater than 1")

Enter a number: 5
5 is a prime number

In [106]:
# FizzBuzz problem
n = 20

for i in range(1,n+1):
  if i%3==0 and i%5==0:
    print("FizzBuzz")
  elif i%3 == 0:
    print("Fizz")
  elif i%5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [116]:
# Print factorial of a 5
n = 5
res = 1
# While loop
# while n>0:
#   res *= n
#   n-=1
# print(res)

# For loop
for i in range(n,1,-1):
  res *= i
print(res)

120

# Mini Project 1 - Simple CLI Calculator

In [101]:
from posixpath import join
permit_operators = ["+","-","*","/"]
while True:
  num1 = int(input("Enter 1st num: "))
  while True:
    op = input(f"Enter operator such as {', '.join(permit_operators)}: ")
    if op not in permit_operators:
      print("Invalid operator")
    else:
      break
  num2 = int(input("Enter 2nd num: "))

  if op=="+":
    print(num1 + num2)
  elif op=="-":
    print(num1-num2)
  elif op=="*":
    print(num1 * num2)
  elif op=="/":
    print(num1 // num2)

  cont = input('Enter to continue or enter "exit" to quit: ')
  if(cont=="exit"):
    break

Enter 1st num: 6
Enter operator such as +, -, *, /: p
Invalid operator
Enter operator such as +, -, *, /: 9
Invalid operator
Enter operator such as +, -, *, /: +
Enter 2nd num: 9
15
Enter to continue or enter "exit" to quit: exit